h1 {
    color: black;
    font-style: oblique;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
p {
    color: black;
    font-style: normal;
    font-family: 'Times New Roman', Times, serif;
    
}   

.btn {
	background-color: #FFCD29;
	border: none;
	position: absolute;
	color: rgb(0, 0, 0);
	padding: 16px 32px;
	font-size: 16px;
	margin-top: 50px;
	margin-left: 0px;
	opacity: 0.6;
	transition: 0.3s;
	
  }

  .btn:hover {opacity: 1}