@import url('https://fonts.googleapis.com/css2?family=Joan&display=swap');

:root {
	--primary-color:#FFB6C1
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Joan', cursive;
}

body {
	color: #fff;
	position: relative;
}
 
 
 nav {

	position:absolute;
    width: 100%;
    background: rgba(0 0 0 / 40%);
    height: 5.32rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 8rem;
    z-index: 10;
	
}

.logo .logo-text {
	font-family: 'Joan', cursive;
	font-size: 1.5rem; 

}
 
#top_section {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
	align-content: space-between;

}

.menu-container {
	background-color: rgb(255, 255, 255);
	overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
   .menu-container a {
	float: right;
	color: #000000;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	font-family: 'Joan';
  }
  
  /* Change the color of links on hover */
  .menu-container a:hover {
	background-color: rgba(234, 128, 193, 0.459);
	color: rgb(255, 255, 255);
  }
  
  /* Add a color to the active/current link */
  .menu-container a.active {
	background-color: rgba(234, 128, 193, 0.459);
	color: white;
  }
 
 .header_image {
	background-image: url(/Pages/images/2_banner_butterfly-gf46b1d104_1920.jpg);

	padding: 100px;
	background-position: left;
	filter: blur(6px);
	
	color: #fff;
	/*margin-top: 85px;*/
	text-align: center;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	
  }

  .header_small {
	
	padding: 100px;
	position: absolute;
	top: 8.8%;
	left: 23.2%;
	transform: translate(-50%, -50%);
  }

 .text_allg {
	color: #000000;
	padding: 150px;
	text-align: center;
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
 }

.newtext {
	padding: 1px;
	position: absolute;
	top: 20%;
	left: 50%;
	transform: translate(-50%, -50%);

	color: #000000;
	font-size: larger;
	font-style: italic;
	
}




 h1 {
	margin-top: 50px;
 }	

.img1 {
	padding: 20px;
	 }
.img2 {
	padding: 20px;
}
.img3 {
	padding: 20px;
}