@import url('https://fonts.googleapis.com/css2?family=Joan&display=swap');

:root {
	--primary-color:#FFB6C1
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Joan', cursive;
}

body {
	color: #fff;
	position: relative;
}

	
nav {

	position:absolute;
    width: 100%;
    background: rgba(0 0 0 / 40%);
    height: 5.32rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 8rem;
    z-index: 10;
	
}

.logo .logo-text {
    font-family: 'Joan', cursive;
    font-size: 1.5rem; 

}
 
#top_section {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
	align-content: space-between;

}

.header_image_2 {
	background-image: url(/Pages/images/Frog_Butterfly.jpg);

	padding: 100px;
	background-position: left;
	filter: blur(6px);  
	color: #fff;
	/*margin-top: 85px;*/
	text-align: center;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	
  }

  .header_small {
	
	padding: 100px;
	position: absolute;
	top: 18.6%;
	left: 23.2%;
	transform: translate(-50%, -50%);
  }

.menu-container {
	background-color: rgb(255, 255, 255);
	overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
   .menu-container a {
	float: right;
	color: #000000;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	font-family: 'Joan';
  }
  
  /* Change the color of links on hover */
  .menu-container a:hover {
	background-color: rgba(234, 128, 193, 0.459);
	color: rgb(255, 255, 255);
  }
  
  /* Add a color to the active/current link */
  .menu-container a.active {
	background-color: rgba(234, 128, 193, 0.459);
	color: white;
  }
 

.aboutme {
    color: #000000;
    padding: 80px;
    opacity: 0.6;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-style: italic;
    text-align: center;
}

  input[type=text], select, textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px;
    margin-bottom: 16px; 
    resize: vertical 
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=abgeben]:hover {
    background-color: #58fa60;
  }
  
  /* Add a background color and some padding around the form */
  .container_kontakt {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    color: #000000;
  }

  .container_kontakt {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }
  
  

