@import url('https://fonts.googleapis.com/css2?family=Joan&display=swap');

:root {
	--primary-color:#FFB6C1
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Joan', cursive;
}

body {
	color: #fff;
	position: relative;
}

	
nav {

	position:absolute;
    width: 100%;
    background: rgba(0 0 0 / 40%);
    height: 5.32rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 8rem;
    z-index: 10;
	
}

.logo .logo-text {
	 font-family: 'Joan', cursive;
	 font-size: 1.5rem; 

}

#top_section {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
	align-content: space-between;

}

.menu-container {
	background-color: rgb(255, 255, 255);
	overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
   .menu-container a {
	/*display: flex;
	justify-content: flex-end;*/
	float: right; 
	color: #000000;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	font-family: 'Joan';
  }
  
  /* Change the color of links on hover */
  .menu-container a:hover {
	background-color: rgba(255, 123, 0, 0.758);
	color: rgb(255, 255, 255);
  }
  
  /* Add a color to the active/current link */
  .menu-container a.active {
	background-color: rgba(234, 128, 193, 0.459);
	color: white;
  }

  .nav2 {
	padding: 200px;
	background: #FFCD29;
	color: rgb(0, 0, 0);
	font-size: 30px;
	font-family: 'Joan';
	/*margin-top: 85px;*/
	text-align: center;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	
  }

  #image_section {
	  margin-top: 20px;
	  display: grid;
	  grid-template-columns: 1fr 1fr 1fr;
	  grid-template-rows: 1fr;
	  place-items: center;
  }

  #text_one {
	color: #000000;
	position: absolute;
	top: 118%;
	left: 16.6%;
	transform: translate(-50%, -50%);
	padding: 365px;
	text-align: center;

  }

  #text_two {
	color: #000000;
	position: absolute;
	top: 123.7%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 160px;
	text-align: center;
  }

  .does_this_work {
	color: #000000;
	position: absolute;
	top: 132.2%;
	left: 77.4%;
	transform: translate(-23.3%, -75%);
	text-align: center;
	 
  }
 /* hovering over read more button */
  .btn {
	background-color: #FFCD29;
	border: none;
	position: absolute;
	color: rgb(0, 0, 0);
	padding: 16px 32px;
	font-size: 16px;
	margin-top: 370px;
	margin-left: 150px;
	opacity: 0.6;
	transition: 0.3s;
	
  }
  .btn:hover {opacity: 1}

  .btn2 {
	background-color: #FFCD29;
	border: none;
	position: absolute;
	color: rgb(0, 0, 0);
	padding: 16px 32px;
	font-size: 16px;
	margin-top: 370px;
	margin-left: 568px;
	opacity: 0.6;
	transition: 0.3s;
	
  }
  .btn2:hover {opacity: 1}

  .btn3 {
	background-color: #FFCD29;
	border: none;
	position: absolute;
	color: rgb(0, 0, 0);
	padding: 16px 32px;
	font-size: 16px;
	margin-top: 370px;
	margin-left: 995px;
	opacity: 0.6;
	transition: 0.3s;
	
  }
  .btn3:hover {opacity: 1}